body {
  padding-top: 0px;
  padding-left: 0px;
}
.row{
  padding: 0px 0px;
}
.innercontainer {
  padding: 140px 0px;
  text-align: left;
  text-decoration: none;
  font-family: 'Inconsolata', ;
  font-family:  Hack, monospace;
  z-index: 10;
  height: 825px;
}
.footer {
    position: relative;
    padding-top: 5%;
    left: 0;
    z-index: 1;  /* sets it below the other slides in the layer stack */
    width: 100%;
    height: 250px;
    background-color: #000000;
}
a:link {
    color: skyblue;
    text-decoration: none;
    outline: 0;
}
a:visited {
    text-decoration: none;
    outline: 0;
}
a:hover {
    text-decoration: none;
    outline: 0;
}
a:active {
    text-decoration: none;
    outline: 0;
}
.image-cropper {
    max-width: 414px;
    align-self: center;
  position: relative;
  border-radius: 50%;
  /*overflow: hidden;*/
  padding-top: 0px
}
img {
    max-width: 100%;
    display: inline;
    margin: 0 auto;
    height: auto;
}
li {
    /*display: inline-block;*/
    font-size: 1.5em;
    line-height: 1.5;
    list-style: none;
    margin: 5px;
}
hr {
    border: 0;
    border-top: 2px solid #FFFFFF;
    opacity: .4;
    width: 32s0px;
}
.contact{
    color: #999999;
    font-size: 14pt;
}
.contactInfo{
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: bold;
}
.ib{
  display: inline-block;
}